.profileImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
}
.profileImage>img{
    display: flex;
    /* height: 50px; */
    width: 50px;
    border-radius: 50%;
}
