.home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}
.homeBody{
    display: flex;
    flex-direction: column;
    padding: 6px 3vw 0 3vw;
    max-width: 1300px;
    width: 94vw;
}
.recommendPeople{
    display: flex;
    overflow-x: scroll;
    padding-top: 5vh;
    /* overflow-y: scroll; */
}
.recommendPosts{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.stories{
    display: flex;
    position: sticky;
    overflow-x: scroll;
}
.stories::-webkit-scrollbar{
    display: none;
}
.stories__div{
    display: flex;
    overflow-x: scroll;
}
.stories__div::-webkit-scrollbar {
    display: none;
  }
  
@media(max-width:800px){
    .recommendPeople{
        flex-direction: column;
        padding: 1vh;
        padding-top: 1vh;
    }
    .recommendPosts{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        margin-bottom: 100px;
    }
    .recommendPeople{
        display: flex;
        overflow-x: hidden;
        padding-top: 0;
    }
}