.Userprofile{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Userprofile__In{
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .camera_label{
    background-color: white;
    padding: 5px;
    padding-bottom: 2px;
    border-radius: 50%;
    display: inline-block;
  }

  .cover_photo{
      margin-bottom : 10px;
      display : flex;
      justify-content : flex-end;
      width : 100%;
  }

  .cover_photo>label>p{
        margin-right : 10px;
        padding : 7px;
        border-radius : 5px;
        background-color : white;
        border : 1px solid lightgray;
        font-size : 14px;
        margin-top : 0;
        margin-bottom : 0;
      

  }

.up {
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    background-color: #e9e6e6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width : 70%;
    margin-left : auto;
    margin-right : auto;
  }

  .user_avatar {
    width: 150px !important;
    height: 150px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 2px solid white;
  }


.userProfile__headerMobile{
    display: none; 
    position: sticky;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
    background-color: rgb(58, 204, 248);
    top: 0;
}
.Userprofile__first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 1vh;
    height: 20vh;
}
.Userprofile__Second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(9, 132, 163);
    background-color: rgb(105, 195, 236);
    padding: 4px 2px 4px 2px;
    height: 4vh;
    font-weight: 600;
    position: sticky;
    top: 8vh;
    width : 70%;
    margin-left: auto;
    margin-right : auto;
    z-index: 999;
}
.Userprofile__Second_Option{
    color: rgb(53, 50, 50);
    justify-content: center;
    cursor: pointer;
}
.Userprofile__Second_Option_Active{
    color: black;
    font-weight: 700;
    justify-content: center;
    cursor: pointer;
}
.profile__Branch{
    display: flex;
}
.changeImage{
    display: flex;
    font-size: x-small;
}
.Userprofile__Third__info{
    display: flex;
    flex-direction: column;
}
.Userprofile__Third__info{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.Userprofile__Third__infoIn{
    display: flex;
    flex-direction: column;
    width: 96%;
    padding: 2%;
    padding-top: 1%;
    max-width: 600px!important;
}
.Userprofile_experienceText{
    display: flex;
    color: rgb(59, 51, 51);
}
.current_involvement{
    display: flex;
    flex-direction: column;
}
.userProfile__input{
    display: flex;
    padding: 1vh 0!important;
    max-width: 100%!important;
}
.passion__userProfile{
    display: flex;
}
.InputLabel__userProfile{
    padding: 0;
}
.subfield__userProfile{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 0;
}
.InputLabel__userProfile{
    display: flex!important;
    padding: 0!important;
    margin: 0!important;
}
@media(max-width:800px){
    .userProfile__headerMobile{
        display: flex;
        z-index: 100;
    }
    .Userprofile__first{
        height: 23vh;
    }
}

.Userprofile__Third__learntstuff{
    width : 70%;
    margin-left : auto;
    margin-right: auto;
    padding-top : 10px;
}

.add_learnt_stuff>button{
    padding : 10px;
    background-color: rgb(28, 146, 241);
    border-radius : 20px;
    border : 0;
    color : white;
    margin-bottom : 10px;
}

.add_learnt_stuff>button:hover{
    cursor : pointer;
    background-color: rgb(80, 171, 245);
}

.my_posts{
    width : 72%;
    margin-left : auto;
    margin-right : auto;
}

@media(max-width:500px){
    .up{
        width : 100%;
        padding-top : 120px;
        border-radius: 0;
    }

    .Userprofile__Second{
        width : 95% !important;
    }

    .cover_photo>label>p{
      margin-right : 10px;
      padding : 7px;
      border-radius : 5px;
      background-color : white;
      border : 1px solid lightgray;
      font-size : 14px;
      margin-top : 10px;
      margin-bottom : 0;
}    
   .Userprofile__Third__learntstuff{
       width : 95%;
   }

   .my_posts{
       width : 95%;
   }
  
}
