.evolvegraph{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content:flex-end;
}
.graphPercent{
    display: flex;
    padding: 10% 0;
}
.graphDate{
    display: flex;
    padding-top: 10%;
    color: lightgray;
}