.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top:5vh ;
}
.group__body{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    height: 50vh;
    margin-top: 15px;
}
.group__bodyTwo{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    height: 80vh;
}
.group__headBackgroundImg{
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   border-bottom: 2px solid lightblue;
}
.group__headBackgroundImg>img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 140px;
}
.group__headImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    
}
.group__headPro{
    height:120px;
    width: 200px;
    border-radius: 50%;
    /* border: 3px solid rgb(206, 200, 200); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15vh;
}
.group__headPro>img{
    height:100px;
    width: 100px;
    border-radius: 50%;
    /* border: 3px solid rgb(206, 200, 200); */
    display: flex;
    /* align-items: center; */
    /* position: absolute;
    top: 15vh; */
}
.group__details{
    display: flex;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding:0 12px;
}
.Group__Details__Name{
    display: flex;
    font-weight: 600;
    font-size: large;
}
.status__group{
    display: flex; 
}
.Group__Details__Status{
    display: flex;
    font-size: small;
    font-weight: 600;
    color: rgb(107, 95, 95);
}
.group__lower{
    display: flex;
    margin: 6px 6px 0 6px;
    height: 100%;
    border: 1px solid lightgray;
}
.group__lower__leftSidebar{
    display: flex;
    flex: 0.2;
    width: 20%;
}
.group__lower__rightSidebar{
    display: flex;
    flex: 0.8;
    width: 80%;
} 
.groupHead__More{
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    justify-content: flex-end;
    top: 8.6vh;
    /* z-index: 10; */
}
.groupHead__More__Icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
}
.group__lowerForMobile{
    display: none;
}
.group__lower__leftSidebarForMobile{
    display: none;
}
.group__lower__rightSidebarForMobile{
    display: none;
}
.group__Icon{
    display: flex;
    position: absolute;
    top: 22.3vh;
    right: 6vw;
}
.groupIcon__circle{
    display: flex;
    height: 43px;
    width: 43px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 4px;
    border-radius: 50%;
    color: black;
    border: 1px solid lightgray;
}
.Button__groupExpand_Active{
    display: flex;
    padding: 6px;
    margin: 4px;
    width: 60px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color:rgb(33, 136, 233);
    color:white
}
.Button__groupExpand{
    display: flex;
    padding: 6px;
    margin: 4px;
    width: 60px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}
.Button__groupExpandHide{
    /* font-size: small;
    height: 28px; */
}
.AddAPhotoRoundedIcon{
    padding: 3px;
    font-size: 18px !important;
}
@media(max-width:1140px){
    .group__Icon{
        display: flex;
        position: absolute;
        top: 24.5vh;
        right: 6vw;
    }
}
@media(max-width:800px){
    .group__body{
        height: 40vh;
    }
    .group__bodyTwo{
        height: 76vh;
    }
    .AddAPhotoRoundedIcon{
        padding: 3px;
        font-size:16px !important;
    }
    /* .Button__groupExpandHide{
        font-size: x-small;
        width: 60px;
        height: 25px;
    } */
    .group__Icon{
        display: flex;
        position: absolute;
        top: 26vh;
        right: 3vw;
    }
    .groupIcon__circle{
        display: flex;
        height: 36px;
        width: 36px;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: 4px;
        border-radius: 50%;
        color: black;
    }
    .Button__groupExpand{
        display: flex;
        padding: 6px;
        margin: 4px;
        width: 50px;
        border: none;
        outline: none;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        font-weight: bold;
        font-size: x-small;
    }
    .group__lower{
        display: none;
    }
    .group__lowerForMobile{
        display: flex;
        margin: 6px 6px 0 6px;
        height: 100%;
        border: 1px solid lightgray;
    }
    .group__lower__leftSidebarForMobile{
        display: flex;
        flex: 1;
        width: 100%;
    }
    .group__lower__rightSidebarForMobile{
        display: flex;
        flex: 1;
        width: 100%;
    } 
}