.RightSidebarGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.RightSidebarGroupTask{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.rightSidebarGroup__header{
     display: flex;
     width: 100%;
     border-bottom: 1.8px solid lightgray;
     justify-content: space-between;
     align-items: center;
     height: 6%;
}
.rightSidebarGroup__headName{
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 600;
    font-style: oblique;
    justify-content: space-between;
    
}
.rightSidebarGroup__headMore{
    display: none;
}
.rightSidebarGroup__body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.group__Chat{
    display: flex;
    width: 90px;
    padding: 12px;
    margin: 12px;
    border: 1px solid rgba(171, 95, 243, 0.507);
    box-shadow: 0 0 10px -4px blue;
    background-color: rgb(125, 212, 238);
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.taskUpper{
    width: 92%;
    margin: 1% 2% 0 2%;
    padding: 1% 2%;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    /* box-shadow: 0 0 10px -4px ; */
    border: 1px solid lightgray;
}
.taskUpper>p{
    padding: 10px 4px;
    margin: 0;
}
.taskUpper>span{
    padding-left: 8px;
    font-weight: 600;
    font-style: italic;
    color: rgb(9, 62, 80);
}
.taskUpper>input{
    margin-left: 8px; 
    font-weight: 600;
    font-style: italic;
    color: rgb(9, 62, 80);
}
.taskUpperHead{
    display: flex;
    flex-direction: column;
    color: rgb(88, 32, 32);
}
/*  */
.rightSidebarGroup__bodyTask{
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 100%;
}
.rightSidebarGroup__bodylistTask{
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 100%;
    overflow-y: scroll;
}
.rightSidebarGroup__bodyTaskForTask{
    display: flex;
    flex-direction: column;
    width: 96%;
    border: 1px solid lightgray;
    margin: 2%;
    margin-bottom: 2% !important;
    overflow-y: scroll;
    height: 93%;
}
.rightSidebarGroup__bodyTask__Head{
    display: flex;
    justify-content: flex-start;
    padding: 0 12px;
    background-color: lightgray;
    position: sticky;
    width: 92%;
}
.rightSidebarGroup__bodyTask__Head>div{
    padding: 0 12px;
}
.rightSidebarGroup__headMoreTask{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    z-index: 12;
}
.GroupChat__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:90%;
    overflow-y: scroll;
    background-color: rgb(209, 218, 226);
    flex-direction: column-reverse;
}
.GroupChat__Footer{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 98%;
}
.GroupChat__bodyShow{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:90%;
    overflow-y: scroll;
    background-color: rgb(209, 218, 226);
    flex-direction: column-reverse;
}
.GroupChat__FooterShow{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 98%;
}
.GroupChat__Footer>textarea{
    flex: 1;
    margin: 4px;
    border: 2px solid rgb(20, 218, 226);
    outline: none;
    overflow: hidden;
    resize: none;
    border-radius: 8px;
    padding: 4px 12px;
    height:70%;
}
.GroupChat__FooterShow>textarea{
    flex: 1;
    margin: 4px;
    border: 1px solid rgb(20, 218, 226);
    outline: none;
    overflow: hidden;
    resize: none;
    border-radius: 8px;
    padding: 4px 12px;
    height:70%;
}
.taskOuter{
    margin: 8px 22px;
    padding: 4px;
    padding-bottom: 12px;
    background-color: rgba(245, 245, 245, 0.685);
    box-shadow: 0 0 8px -2px gray;
    border-radius: 4px;
}
.rightSidebarGroup__headerShow{
    display: flex;
    width: 100%;
    border-bottom: 1.8px solid lightgray;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.rightSidebarGroup__bodyTaskShow{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}
.rightSidebarGroup__bodyTasklistShow{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
.taskUpper_Head{
    display: flex;
    align-items: center;
    padding: 4px;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}
@media(max-width:800px){
    .GroupChat__bodyShow{
        height:85%;
    }
    .GroupChat__FooterShow{
        height: 15%;
    }
    .rightSidebarGroup__headMore{
        display: flex;
        align-items: center;
        z-index: 12;
    }
    .rightSidebarGroup__body{
        flex-direction: column;
    }
}
@media(max-width:600px){
    .taskOuter{
        margin: 8px 12px;
        
    }
}